<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuemSouEu?</title>
    <link rel="stylesheet" href="/jogo.css">
</head>

<body>
    <div class="container">
    {{#jogos}}
        <div class="header">
            <img src="{{img}}" alt="Imagem de Fundo">
        </div>
        <div class="title">{{titulo}}</div>
        <div>Tipo: {{tipo}} / Nacionalidade: {{nac}}</div>
        <div class="description">
            {{desc}}
        </div>
        <div class="container-button">
            <a href="/"><button>Voltar</button></a>
        </div>
        {{/jogos}}
    </div>
</body>

</html>