<!DOCTYPE html>
<html lang="Pt-Br">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Quem Sou Eu?</title>
    <link rel="stylesheet" href="/landing.css">
</head>

<body>
    <nav>
        <img src="img/rodape.png" class="logoinea">
    </nav>
    <header>
        <div class="logo">
            <img src="img/I6SUdHdo_400x400-removebg-preview.png" alt="Logo do jogo Quem Sou Eu?">
            <button id="btn-regras">Regras do Jogo</button>
            <h1>Quem <span class="span-sou">Sou Eu? {{total}} </span></h1>
            <div class="play-button">
                <img src="img/Screenshot_3-removebg-preview.png" alt="Imagem acima do botão Jogar">
                <a href="/jogo/{{id}}">Jogar agora</a>
            </div>
        </div>
    </header>
    <footer>
        <div class="container">
            <div class="footer-info">
                <p>Projeto Ambiente Jovem</p>
                <p>Localidade: Vargem Grande</p>
                <p>Professora: Pamela</p>
                <p>Instrutores: Thales, Felipe e Vladmir</p>
                <p>Gestores: Alessandra Medon, Rodrigo Vizeu e Thiago Pompolha</p>
            </div>
        </div>
        <p class="footer-fim">@Todos os direitos reservados Guilherme Medon.</p>
    </footer>
    <script src="script.js"></script>
</body>

</html>